<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <marquee>
    <h2 class="m-0 text-center text-black">All types of Groceries items are available here!Come shopping with us</h2>
</marquee>

    <title>
        <%= pageTitle%>
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>
