<div class="col-lg-3">

    <h1 class="my-4">
        <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="https://cdn3.f-cdn.com/contestentries/44843/8960791/52778eadd6a10_thumb900.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hello Users!</h5>
              <p class="card-text">Better services are provide here.</p>
              <a href="https://i.pinimg.com/originals/18/af/98/18af98d0d26d66320092c83720187962.jpg" class="btn btn-primary">Shop Now</a>
            </div>
          </div>


</div>
